@import '../../common';

.scroll-container-tracks {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  .tracks-description {
    margin: 0 auto;
    text-align: center;

    position: sticky;
    top: 20vh;
    overflow: hidden;
    width: 50%;
    padding-bottom: 40vh;
    font-size: 16px;
    line-height: 28px;

    @include screenSize(tabletPortrait) {
      top: 5vh;
    }

    @include screenSize(phoneOnly) {
      width: 90%;
    }

    @media only screen and (orientation: landscape) {
      width: 90%;
    }

    .description-separator {
      height: 1px;
      text-align: center;
      margin: 0 auto;
      border-bottom: 1px solid rgba(225, 227, 226, 0.2);
      width: 50%;
    }

    .description-contact {
      font-weight: bold;
      cursor: pointer;
    }
  }

  .track-list-container {
    position: relative;
    top: 0px;
    display: flex;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 2000px;

    .track-container {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      align-content: center;
      padding: 0.5em;
      cursor: pointer;

      $deviceWidth: 90%;

      @include screenSize(phoneOnly) {
        width: $deviceWidth;
      }

      //@media only screen and (min-width: 320px) and (max-width: 480px) {
      //  width: $deviceWidth;
      //}
      //
      //@media only screen and (orientation: landscape) {
      //  width: 90%;
      //}

      margin-bottom: 2em;
      border: 1px solid rgba(225, 227, 226, 0.1);
      height: 200px;
      @include screenSize(phoneOnly) {
        height: 150px;
      }

      .container-image {
        width: 200px;
        height: inherit;

        @include screenSize(phoneOnly) {
          height: 150px;
          width: 150px;
        }

        .image {
          width: inherit;
          height: inherit;
        }
      }

      .container-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        padding-left: 0.5em;

        @media only screen and (min-width: 320px) and (max-width: 480px) {
          padding-left: 1em;
        }

        .container-loader {
          align-self: flex-end;
        }

        .container-info {
          // flex: 1;
          .title {
            font-size: x-large;
            padding-bottom: 0.5em;
            @media only screen and (min-width: 320px) and (max-width: 480px) {
              padding-bottom: 1em;
            }
          }
        }
      }
    }
  }

  .menu-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    //margin-left: 20%;
    //margin-right: 20%;
    // padding-top: 1em;

    .control-button {
      background-color: transparent;
      box-shadow: none;
      margin: 1em;

      .control-button-ripple {
        background-color: $soundCloudColor;
        opacity: 0.2;
      }
    }
  }
}



