.social-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;

  button {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .soundcloud-share {
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: transparent;
    border: none;
  }
}
