$fontFamily: Syncopate, 'Josefin Sans', sans-serif, serif;
$colorControls: #FF5500;
$colorText: #f8f8ff;
$colorBackground: #0f0e0e;
$colorBackgroundR: '15,14,14';

@mixin transitionVisible() {
    visibility: visible;
    opacity: 1;
    fill-opacity: 1;
    transition: fill-opacity 500ms ease-in;
}

@mixin transitionHidden() {
    visibility: hidden;
    fill-opacity: 0;
    transition: fill-opacity 500ms ease-in;
}

@mixin flexContainer() {
    display: -webkit-flex;
    display: flex;
}

@mixin flexRowContainer() {
    @include flexContainer();

    -webkit-flex-direction: row;
    flex-direction: row;
}

@mixin flexColumnContainer() {
    @include flexContainer();

    -webkit-flex-direction: column;
    flex-direction: column;
}

html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: $fontFamily;
    font: 13px/1.25 $fontFamily; //'Syncopate', 'Josefin Sans', sans-serif, serif;
    overflow: hidden;
    background-color: $colorBackground;
    color: $colorText;
}

.player-sc-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;

    .player-sc-components {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 100;

        @include flexColumnContainer();

        .player-sc-image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        .player-sc-header,
        .player-sc-footer {
            -webkit-flex: none;
            -moz-flex: none;
            -ms-flex: none;
            flex: none;
        }

        .player-sc-header {
            position: relative;
            text-align: center;
            width: 100%;
            font-size: 4em;
            font-weight: bold;
            padding-top: 0.25em;
            z-index: 100;
        }

        .player-sc-main {
            @include flexContainer();

            -webkit-flex: 1;
            -moz-flex: 1;
            -ms-flex: 1;
            flex: 1;

            .player-sc-controls-container {
                @include flexContainer();
                margin: 0 auto;
                position: relative;
                width: 66%;
                z-index: 100;

                .player-sc-controls {
                    @include flexColumnContainer();
                    justify-content: space-between;

                    width: 100%;

                    .player-sc-play-controls {
                        @include flexRowContainer();

                        -webkit-flex: 2;
                        -moz-flex: 2;
                        -ms-flex: 2;
                        flex: 2;


                        .player-sc-play-button {
                            position: relative;
                            @include flexContainer();

                            svg {
                                position: relative;
                                top: 125px;
                                flex: none;
                            }

                            path {
                                opacity: 1;
                                fill-opacity: 0;
                                fill: $colorControls;
                            }

                            .visible {
                                @include transitionVisible;
                            }

                            .hidden {
                                @include transitionHidden;
                            }
                        }

                        .player-sc-text {
                            -webkit-flex-grow: 3;
                            flex-grow: 3;
                            canvas {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .player-sc-track-controls {
                        fill: $colorControls;
                        //stroke: $colorControls;

                        position: absolute;

                        -webkit-flex: none;
                        flex: none;

                        top: 50%;
                        left: 0;
                        width: 100%;

                        .visible{
                            @include transitionVisible;
                        }

                        .hidden {
                            @include transitionHidden;
                        }

                        .controls {
                            width: 100%;

                            @include flexRowContainer();
                            -webkit-flex-wrap: nowrap;
                            flex-wrap: nowrap;

                            -webkit-justify-content: space-between;
                            justify-content: space-between;

                            -webkit-align-items: center;
                            align-items: center;

                            svg {
                                -webkit-flex-grow: 1;
                                flex-grow: 1;
                                transform: scale(0.7);
                            }

                            svg:nth-of-type(1) {
                                order: 1;
                            }

                            svg:nth-of-type(2) {
                                order: 3;
                            }

                            .progress-bar {
                                width: 80%;
                                height: 4px;

                                -webkit-flex-grow: 3;
                                flex-grow: 3;

                                order: 2;
                                background-color: rgba(255, 85, 0, 0.4);

                                .progress {
                                    width: 0%;
                                    background-color: rgba(255, 85, 0, 1);
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .player-sc-footer {
            position: relative;

            -webkit-align-self: flex-end;
            align-self: flex-end;

            .soundcloud-link {
                padding-right: 1em;
            }
            .soundcloud-link:hover {
                cursor: pointer;
            }
        }
    }
}
